*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
}

.orange{
    color: orange;
}
.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
}

.half-width{
    width: 50%;
}
.even-width>h1,h2,h3,p{
    margin-top: 3%;
}
.even-width{
    width: 33%;
    padding: 3%;
    height: 40%;
    text-align: center;
}

.top-div{
    height: 80vh;
}
.line{
    border-bottom: 4px solid orange;
}
.healthy{
    font-size: 40px;
    text-align: center;
}

#top{
    width: 100%;
    height: 80vh;
    background: url(./images/big1.jpg);
}

.bigtext{
    padding: 20px;
    font-size: 50px;
    text-align:center;
    
}
.button{
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
    color: #000;
    background: orange;
    padding: 3%;
    border-radius: 12px ;
}
/* ------------------------------------last Section */
#last{
    background: rgb(233, 233, 233);
}
#last>h1{
    
    text-align: center; 
     padding: 20px;
    font-size: 34px;
    color: rgb(48, 48, 48);
}
#last>p{
    padding: 12px;
    font-size: 19px;
    text-align: center;
}
.count{
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    margin: 4%;
    padding: 4%;
    box-shadow: 5px  3px 5px 3px rgb(48, 48, 48);
}
.countitem>h2{
    font-size: 29px;
    text-align: center;
    font-weight: 800;
}
.countitem>p{
    padding: 10px;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}
footer{
    padding: 4%;
    background: #000;
}

footer>p{
    font-size: 18px;
    margin: 2%;
}